.pageNumBox {
  padding: 5px 8px;
  color: #444;
  background-color: #ececec;
  box-shadow: 1px 1px 2px #d6d6d6;
  display: inline-block;
  margin: 5px 4px 5px 4px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;

  &:hover {
    background-color: #2076c9;
    color: white;
  }
}

.activeIndex {
  background-color: #2076c9;
  color: #fff;
}

.ellipsisArea {
  padding: 3px;
  display: inline-block;
}
